.contact_container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 78%;
	max-width: 1170px;
	margin: 0 auto;
}

@media(max-width: 900px){
	.contact_container {
		width: auto;
		padding: 0 18px;
	}
}

.address_container {
	flex: 0 0 50%;
	max-width: 50%;
	padding-right: 9px;
	box-sizing: border-box;
}

@media(max-width: 800px){
	.address_container {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
		margin-bottom: 18px;
	}
}

.form_container {
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 9px;
	box-sizing: border-box;
}

@media(max-width: 800px){
	.form_container {
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
	}
}

.form_container label {
	position: relative;
	display: block;
}

.form_container [type="text"],
.form_container [type="email"],
.form_container textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	background: #fff;
	padding-left: 10px;
	box-shadow: 0 10px 20px 0 rgba(46, 61, 73, 0.15);
	border-bottom: 2px solid;
	border-color: #777;
	transition: border-color 0.5s ease;
}

.form_container [type="text"]:focus,
.form_container [type="email"]:focus,
.form_container textarea:focus {
	border-color: #2660A4;
}

.form_container [type="text"],
.form_container [type="email"] {
	height: 45px;
	line-height: 45px;
	margin-bottom: 24px;
}

.form_container [type="text"]:focus,
.form_container [type="email"]:focus {
	outline: transparent;
}

.form_container textarea {
	height: 200px;
	padding-top: 12px;
	margin-bottom: 24px;
}

.form_container textarea:focus {
	outline: transparent;
}

.label_text {
	position: absolute;
	left: 10px;
	z-index: 1;
	top: 10px;
	pointer-events: none;
}

.letter {
	display: block;
	float: left;
	transition: all 0.15s ease;
}

.letters-enter-active .letter,
.letters-enter-done .letter {
	transform: translateY(-35px);
	color: #2660A4;
}

.letters-exit .letter {
	transform: translateY(-35px);
	color: #2660A4;
}

.letters-exit-done .letter {
	transform: translateY(0);
	color: #333;
}

.form_container [type="submit"] {
	padding: 12px 0;
	box-sizing: border-box;
	display: inline-block;
	background: #2660A4;
	color: #fff;
	cursor: pointer;
	width: 100%;
	box-shadow: none;
	border: none;
}